ActionModal {
	align: center middle;
}

#modal-box {
	width: 50;
	height: auto;
	border: round #A9B665;
	background: #1d2021;
	padding: 1 2;
}

#modal-title {
	text-style: bold;
	color: #A9B665;
	margin-bottom: 1;
}

.modal-input {
	margin-bottom: 1;
}

#modal-submit {
	width: 100%;
	margin-top: 1;
}

#file-tree {
    width: 1fr;
    border: round #4a6060;
    margin: 1 1 1 1;
}
